# Blokowanie indeksowania przez wszystkie roboty
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Przekieruj do pliku robots.txt
    RewriteRule ^robots\.txt$ - [L]
</IfModule>

<Files "robots.txt">
    Order Allow,Deny
    Allow from all
    Deny from env=staging
</Files>