---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header.tsx';
import { About } from '../components/About.tsx';
import { Services } from '../components/Services.tsx';
import {Cta} from '../components/Cta.tsx';
import {Gallery} from '../components/Gallery.tsx';
import { RxChevronRight } from "react-icons/rx";
import Image from 'astro/components/Image.astro';
import logoSecondary from '../img/logo-secondary.png';
---

<Layout title="Skyarc - Usługi Aplinistyczne">
    <main>
        <Header
          image={{
            src: "https://placehold.co/900x400",
            alt: "Custom Image Alt Text"
          }}
          heading="Usługi Aplinistyczne"
          description={`Masz do wykonania prace na wysokościach? 
            Chcesz, aby twój projekt został wykonany dobrze, szybko i bezpiecznie? 
            Postaw na specjalistów, którzy staną na wysokości zadania.`}
          buttons={[
            { text: "Kontakt", href: "/kontakt" },
            { text: "Oferta", href: "/#oferta" }
          ]}
        />
        <About
        heading= "Skyarc"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean sed. Malesuada pellentesque elit eget gravida cum. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Tempus imperdiet nulla malesuada pellentesque elit eget. Massa enim nec dui nunc mattis enim. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Sed nisi lacus sed viverra. Nibh sit amet commodo nulla facilisi nullam vehicula. Augue lacus viverra vitae congue. Mi proin sed libero enim. Senectus et netus et malesuada fames ac turpis egestas integer." />
        <Services/>
        <Cta>
          <Image
          src={logoSecondary}
          alt="A description of my image."
          width={100}
          />
        </Cta>
        <Gallery client:load/>
    </main>
</Layout>
