---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { Contact9 } from '@/components/Contact';
import { Contact24} from '@/components/Info';
import climber from "../img/climber.webp"
import Image from 'astro/components/Image.astro';
---

<Layout title="Skyarc - Kontakt">
    <main class="md:ly-20 py-28">
       <Contact9 client:load>
        <Image loading="eager" class='size-full object-cover object-top' src={climber} sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${climber.width}px`} alt="Pracownik wspinaczkowy wykonujący usługę" />
        </Contact9>
	   <Contact24/>
    </main>
</Layout>
